#carouselContainer {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.carousel .imageContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.carousel .slide img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}
