.carousel-root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.carousel .imageContainer {
  position: relative;
  margin: 0 auto;
  max-height: 80vh;
  aspect-ratio: 0.75;
}

.carousel .slide img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}

.carousel.carousel-slider .control-arrow {
  width: 80px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 5px;
  border-radius: 40px;
}
